torch==1.12.0
torchvision==0.13.0
pandas
addict
sklearn
opencv-python-headless
pytorch_warmup
scikit-image
tqdm
p_tqdm
imgaug>=0.4.0
Shapely==1.7.0
ujson
yapf
pathspec
timm
mmcv
albumentations
pathspec
ptflops
